@model App.Models.Items
@{
    ViewData["Title"] = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .required {
        color: red;
        font-size: 20px;
    }
</style>
@*<form asp-controller="Item" asp-action="AddEditItem"  id="AddEditItemId">
        @Html.HiddenFor(x => x.ItemId)

        <div class="dx-button pull-right">
            <button type="submit" value="save" onclick="saveButton()" class="btn btn-secondary btn-success"><i class="fa fa-save fa-fw"></i>Save</button>
            <button type="button" value="cancel" class="btn btn-secondary btn-danger">Cancel</button>
        </div>
        <div class="clearfix"></div>

        <div class="form-horizontal mt-8">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <fieldset class="col-xl-8">
                        <legend> Basic </legend>
                        <div class="form-group">
                            <label asp-for="ItemName" class="col-lg-3 col-sm-3 control-label">Item Name: <span class="required">*</span></label>
                            <div class="col-lg-9 col-sm-9">
                                <input asp-for="ItemName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="VendorName" class="col-lg-3 col-sm-3 control-label">Vendor Name: <span class="required">*</span></label>
                            <div class="col-lg-9 col-sm-9">
                                <input asp-for="VendorName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ItemCost" class="col-lg-3 col-sm-3 control-label">Item Cost: <span class="required">*</span></label>
                            <div class="col-lg-9 col-sm-9">
                                <input asp-for="ItemCost" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ItemType" class="col-lg-3 col-sm-3 control-label">Item Type: <span class="required">*</span></label>
                            <div class="col-lg-9 col-sm-9">
                                <input asp-for="ItemType" class="form-control">
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>

        <div class="col-sm-10 col-md-6 col-lg-6">
            <fieldset>

                <legend> Other Info</legend>
                <div class="form-group">
                    <label asp-for="Orders" class="col-lg-3 col-sm-3 control-label">Orders: <span class="required">*</span></label>
                    <div class="col-lg-9 col-sm-9">
                        <input asp-for="Orders" class="form-control">
                    </div>
                </div>
            </fieldset>
        </div>

    </form>*@
<form asp-controller="Item" asp-action="AddEditItem" id="AddEditItemId">
    @Html.HiddenFor(c => c.ItemId)

    <div class="m-b-md heading-tp-cls">
        <h3 class="m-b-none pull-left">Item Information</h3>
        <div class="doc-buttons pull-right relative">
            <button type="submit" class="btn btn-s-md btn-success saveButton" id="btnSave"><i class="fa fa-save fa-fw"></i>Save And Close</button>
           @* <button type="submit" name="command" value="Saveandcontinue" id="btnSaveAnContinue" class="btn btn-s-md btn-success saveButton "><i class="fa fa-save fa-fw"></i>Save And Continue</button>*@
            <input type="button" value="Cancel" class="btn btn-s-md btn-danger" style="display:none"onclick="javascript:document.location.href='@Url.Action("Index", "Home")'" />
        </div>
        <div class="clearfix"></div>
    </div>
    <section class="panel panel-default tp-section-cls no-left-right-borders" style="padding-top:10px;">
        <div class="row m-l-none m-r-none bg-light lter">
            <section>
                <div class="row m-l-none m-r-none">
                    <div class="form-group form-smallpadding">
                        <div class="col-lg-2 col-md-2 col-sm-6 error-holder-form hideSubject">
                            <label>Item Name<span class="requAstrik">*</span></label>
                            <input asp-for="ItemName" id="itemNameId" class="form-control subjectHide" placeholder="" type="text">
                            <span asp-validation-for="ItemName" class="text-danger error"></span>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-6 error-holder-form hideSubject">
                            <label>Item Name<span class="requAstrik">*</span></label>
                            <input asp-for="ItemCost" id="itemNameId" class="form-control subjectHide" placeholder="" type="text">
                            <span asp-validation-for="ItemCost" class="text-danger error"></span>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-6 error-holder-form hideSubject">
                            <label>Item Name<span class="requAstrik">*</span></label>
                            <input asp-for="ItemType" id="itemNameId" class="form-control subjectHide" placeholder="" type="text">
                            <span asp-validation-for="ItemType" class="text-danger error"></span>
                        </div>

                        @*<div class="col-lg-2 col-md-2 col-sm-6 error-holder-form hideSubject">
                            <label>Item Name<span class="requAstrik">*</span></label>
                            <input asp-for="Orders" id="itemNameId" class="form-control subjectHide" placeholder="" type="text">
                            <span asp-validation-for="ItemName" class="text-danger error"></span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 error-holder-form hideSubject">
                            <label>Item Name<span class="requAstrik">*</span></label>
                            <input asp-for="ItemName" id="itemNameId" class="form-control subjectHide" placeholder="" type="text">
                            <span asp-validation-for="ItemName" class="text-danger error"></span>
                        </div>*@
                    </div>
                </div>
            </section>
        </div>
    </section>
</form>

    @*<script>
        function saveButton()
        {
            debugger;
            var form = $("#AddEditItemId");
            $.ajax({
                url: @Url.Action("AddEditItem", "Item"),
                type: 'POST',
                data = form.serialize,
                success: function (data)
                {
                    if (data.result == 1) {
                        Notification(data.message, "success");
                    }
                    else {
                        Notification(data.message, "warning");
                    }
                }

            })
            Notification("Success", "success")

        }
        </script>*@
