
@{
    
    Layout = "_Layout";
}

<div>   
    <div class="pull-right form-group" >
        <a asp-controller="Items" asp-action="AddItem" title="Add New Item" class="btn-primary"><i class="fa fa-plus"></i>New Item </a>
        </div>
    </div>

    @(Html.DevExtreme().DataGrid()
                                .ID("items_index")
                                .Columns(columns =>
                                {
                                    columns.Add().DataField("ItemId").Caption("S NO.");
                                    columns.Add().DataField("VendorName").Caption("Vendor");
                                    columns.Add().DataField("ItemName").Caption("Item Name");
                                    columns.Add().DataField("ItemType").Caption("Item Type");
                                    columns.Add().DataField("ItemCost").Caption("Cost per Item ");
                                })
                                .DataSource(d => d.Mvc().Controller("Items").LoadAction("GetAllItems"))
    )
   
